html, body {
    margin: 0;
    padding: 0px;
    height: 100vh; /* dodane */
    font-family: 'Poppins', sans-serif;
}

#main-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;  
}

#map-holder {
    background-color: aqua;
    padding: 10px 10px;
}

#map{
    width: 100%;
    height: 100%;
}

#puzzle-container {
    background-color: pink;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#answear-container {
    background-color: lightgreen;
    padding: 10px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#button-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 400px;
    background-color: red;
    gap: 20px;
}

.puzzle{
    width: 100%;
    height: 100%;
    background-color: blue;
    border: solid black;
}